#navigationBar{
    width: 90%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5% 0 5%;
    gap: 40px;
}

.NavigationButtons{
    width: 200px;
    height: 100%;
    background-color: transparent;
    border: 0;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 15px 15px 0 0;
    z-index: 1;
}

.NavigationButtons.selected {
    background-color: var(--color3);
    text-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    font-size: 20px;
    font-weight: 600;
}
